<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>
            Pedidos
        </ion-title>
    </ion-navbar>

    <ion-toolbar no-border>
        <ion-segment [(ngModel)]="tipoTarea">
            <ion-segment-button value="Creado">
                Creados
            </ion-segment-button>
            <ion-segment-button value="Autorizacion">
                Pendientes
            </ion-segment-button>
            <ion-segment-button value="Rechazado">
                Rechazados
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>


<ion-content no-padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="Actualizando Espere...">
        </ion-refresher-content>
    </ion-refresher>
    <div *ngIf="tipoTarea==='Creado'">
        <ion-searchbar [(ngModel)]="busqueda" placeholder="Buscar por # de pedido, fecha, cliente."></ion-searchbar>
        <ion-list>
            <ion-item-sliding *ngFor="let pedido of listaPedidos | search:busqueda">
                <ion-item style="white-space: normal;">
                    <h6>
                        <ion-icon name="calendar"></ion-icon> {{pedido.FechaVencimiento | date:'dd-MM-yyyy'}}</h6>
                    <strong> <ion-icon name="document"></ion-icon> #{{pedido.NumPedido}}</strong> - {{pedido.Cliente}}
                    <hr>
                    <p style="white-space: normal;font-size:12px">
                        {{pedido.Comentario}}
                    </p>
                    <ion-badge item-end color="secondary">Creado</ion-badge>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button expandable color="secundary" (click)="detallePedido(pedido)">
              <ion-icon name="list-box"></ion-icon>
              Detalles
            </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>
    <div *ngIf="tipoTarea==='Autorizacion'">
        <ion-list>
            <ion-item-sliding *ngFor="let pedido of listaAutorizaciones">
                <ion-item style="white-space: normal;">
                    <h6>
                        <ion-icon name="calendar"></ion-icon> {{pedido.fechaEntrega | date:'dd-MM-yyyy'}}</h6>
                    <strong> <ion-icon name="document"></ion-icon> #{{pedido.codigo_cliente}}</strong> - {{pedido.cliente}}
                    <hr>
                    <p style="white-space: normal;font-size:12px">
                        {{pedido.comentario}}
                    </p>
                    <ion-badge item-end color="success">{{pedido.estado}}</ion-badge>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button expandable (click)="detallePedidoAutorizacion(pedido)">
          <ion-icon name="list-box"></ion-icon>
          Detalles
        </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>
    <div *ngIf="tipoTarea==='Rechazado'">
        <ion-list>
            <ion-item-sliding *ngFor="let pedido of listaRechazado">
                <ion-item style="white-space: normal;">
                    <h6>
                        <ion-icon name="calendar"></ion-icon> {{pedido.fechaEntrega | date:'dd-MM-yyyy'}}</h6>
                    <strong> <ion-icon name="document"></ion-icon> #{{pedido.codigo_cliente}}</strong> - {{pedido.cliente}}
                    <hr>
                    <p style="white-space: normal;font-size:12px">
                        {{pedido.comentario}}
                    </p>
                    <ion-badge item-end color="danger">{{pedido.estado}}</ion-badge>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button expandable (click)="detallePedidoAutorizacion(pedido)">
          <ion-icon name="list-box"></ion-icon>
          Detalles
        </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>
    <ion-fab right bottom (click)="cargarFormularioNuevoPedido()">
        <button ion-fab color="primary" mini><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>