<ion-header>
  <ion-navbar   color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Pedidos
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border>
    <ion-segment [(ngModel)]="tipoTarea">
      <ion-segment-button value="Creado">
        Creados
      </ion-segment-button>
      <ion-segment-button value="Autorizacion">
        Autorización
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content no-padding>
  <div *ngIf="tipoTarea==='Creado'">
    <ion-searchbar [(ngModel)]="busqueda" placeholder="Buscar por número de pedido"></ion-searchbar>
    <ion-list>
        <ion-item-sliding *ngFor="let pedido of listaPedidos">
          <ion-item style="white-space: normal;">
            <h6><ion-icon name="calendar"></ion-icon> {{pedido.FechaVencimiento | date:'dd-MM-yyyy'}}</h6>
            <strong> <ion-icon name="document"></ion-icon> #{{pedido.NumPedido}}</strong> - {{pedido.Cliente}}
            <hr>
            <p style="white-space: normal;font-size:12px">
              {{pedido.Comentario}}
            </p>
          </ion-item>
        </ion-item-sliding>
    </ion-list>
  </div>
  <div *ngIf="tipoTarea==='Autorizacion'">
    <ion-list>
      <ion-item-sliding *ngFor="let pedido of listaAutorizaciones">
      <ion-item style="white-space: normal;" >
        <h6><ion-icon name="calendar"></ion-icon> {{pedido.fecha_vencimiento | date:'dd-MM-yyyy'}}</h6>
        <strong> <ion-icon name="document"></ion-icon> #{{pedido.codigo_cliente}}</strong> - {{pedido.cliente}}
        <hr>
        <p style="white-space: normal;font-size:12px">
          {{pedido.comentario}}
        </p>
      </ion-item>
    </ion-item-sliding>
    </ion-list>
  </div>
  <ion-fab right bottom (click)="cargarFormularioNuevoPedido()">
    <button ion-fab color="primary" mini><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
