<ion-header>

    <ion-navbar color="primary">
        <ion-title>Información de Pedido</ion-title>
    </ion-navbar>
</ion-header>

<ion-content no-padding>
    <ion-list>
        <ion-item-divider color="light">Cabecera Pedido</ion-item-divider>
        <ion-item>Pedido <strong>#{{cabecera.NumPedido}}</strong>
            <div item-right>
                <ion-icon name="calendar"></ion-icon> {{cabecera.FechaVencimiento}} </div>
        </ion-item>
        <ion-item>{{cabecera.Cliente}}</ion-item>
        <ion-item style="white-space: normal;font-size:12px">{{cabecera.Comentario}}</ion-item>

        <ion-item-divider color="light">Detalle Pedido
            <div item-right>Total {{total | number:'.1-2'}}</div>
        </ion-item-divider>
        <ion-item *ngFor="let detalle of listaDetalle">
            <h2>{{detalle.ItemCode}}</h2>
            <strong>Cantidad. {{detalle.Quantity | number:'.0-0'}} -  Sub Total 
 {{detalle.Price |  number:'.1-2'}}</strong>
            <strong *ngIf="detalle.U_Promocional==='Si' || detalle.U_Promocional==1">Promocional</strong>
            <p style="white-space: normal;font-size:12px">{{detalle.Dscription}}</p>
        </ion-item>
    </ion-list>

</ion-content>