<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Nueva Cotización</ion-title>
    </ion-navbar>

</ion-header>


<ion-content no-padding>
    <form #forma="ngForm">
        <ion-list no-padding>
            <ion-item-divider color="light">
                Información de Cotización <button ion-button item-right clear style="font-size: 24px;" (click)="mostrarCabecera=!mostrarCabecera"> <ion-icon name="md-arrow-dropdown-circle"></ion-icon></button>
            </ion-item-divider>
            <div *ngIf="mostrarCabecera">
                <ion-item>
                    <ion-label floating>Fecha posible de entrega DD/MM/YYYY</ion-label>
                    <ion-datetime [min]="min" [max]="max" pickerFormat="DD/MM/YYYY" displayFormat="DD/MM/YYYY" doneText="Aceptar" cancelText="Cancelar" required [(ngModel)]="cotizacion.fechaEntrega" name="mes">
                    </ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label floating>Cliente</ion-label>
                    <ion-input type="text" disabled (click)="mostrarModalClientes()" [(ngModel)]="nombreCliente" name="cliente"></ion-input>
                </ion-item>
                <ion-item *ngIf="mostrarDatos">
                    <ion-label floating>Dirección de Entrega</ion-label>
                    <ion-input type="text" disabled (click)="mostrarModalDirecciones()" [(ngModel)]="direccionCliente" name="entrega" required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Talonario De Pedidos</ion-label>
                    <ion-input type="number" required="false" name="talonarioDePedido" [(ngModel)]="cotizacion.talonarioDePedido"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Comentarios</ion-label>
                    <ion-textarea cols="2" name="Comentarios" required [(ngModel)]="cotizacion.comentario"></ion-textarea>
                </ion-item>
            </div>
            <br>
            <ion-item-divider color="light">
                Detalle de Cotización <button (click)="agregarLineaDetalle()" ion-button item-right clear style="font-size: 24px;"> <ion-icon name="md-add-circle"></ion-icon></button>
            </ion-item-divider>
            <ion-item *ngIf="detalleCotizacion.length==0">
                La cotización no tiene líneas.
            </ion-item>
            <div *ngIf="detalleCotizacion.length>0">
                <ion-row no-padding text-center class="header">
                    <ion-col col-3>
                        Articulo
                    </ion-col>
                    <ion-col col-2>
                        Cant.
                    </ion-col>
                    <ion-col col-2>
                        Monto
                    </ion-col>
                    <ion-col col-2>
                        Promo
                    </ion-col>
                    <ion-col col-3>
                        Total
                    </ion-col>
                </ion-row>
            </div>
            <ion-item-sliding *ngFor="let item of detalleCotizacion">
                <ion-item class="limpiar" no-padding>
                    <ion-grid>
                        <ion-row text-center class="body row responsive-sm">
                            <ion-col col-3 style="white-space: normal;">
                                {{item.articulo}}
                            </ion-col>
                            <ion-col col-2 style="white-space: normal;">
                                {{item.cantidad}} <strong>Bodega {{item.bodega}}</strong>
                            </ion-col>
                            <ion-col col-2>
                                {{item.precio | number:'.1-3'}}
                            </ion-col>
                            <ion-col col-2>
                                {{item.promocional}}
                            </ion-col>
                            <ion-col col-3 style="white-space: normal;">
                                {{item.cantidad*item.precio | number:'.1-3' }}
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="danger" (click)="eliminarLineaDetalle(item)">
                        <ion-icon name="md-trash"></ion-icon>
                    </button>
                </ion-item-options>
                <ion-item-options side="left">
                    <button ion-button color="secondary" (click)="editarLineaDetalle(item)">
                            <ion-icon name="md-create"></ion-icon>
                        </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        <div padding>
            <button [disabled]="!forma.valid" ion-button color="primary" block (click)="agregar()">Guardar Cotización</button>
        </div>
    </form>
</ion-content>